name: Publish CSAF Advisories

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: CSAF Action
        uses: csaf-tools/csaf-action@v0.2.0
        with:
          publisher_name: Secvisogram
          publisher_namespace: https://bendo-eXX.github.io/csaf-files-settings-test/
          publisher_issuing_authority: Placeholder
          publisher_contact_details: Placeholder
          source_csaf_documents: advisories/
          openpgp_public_key: ${{ secrets.PGP_PUBLIC_KEY }}
          openpgp_secret_key: ${{ secrets.PGP_SIGNING_KEY }}