name: 'Publish CSAF Advisories'

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish-csaf:
    runs-on: ubuntu-24.04
    name: Check, Sign & Publish CSAF documents

    steps:
      - name: Check, Sign and Publish CSAF advisories
        uses: csaf-tools/csaf-action@v0.2.0
        with:
          publisher_name: "Secvisogram CSAF Validator Service Team"
          publisher_namespace: "https://github.com/bendo-eXX/csaf-files-settings-test"
          publisher_issuing_authority: "Placeholder"
          publisher_contact_details: "Placeholder Details"
          publisher_category: "vendor"
          source_csaf_documents: advisories/
          openpgp_secret_key: ${{ secrets.PGP_SIGNING_KEY }}
          openpgp_public_key: ${{ secrets.PGP_PUBLIC_KEY }}
          target_branch: gh-pages
          generate_index_files: true