name: Publish CSAF Advisories

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    name: Publish CSAF documents
    steps:
      - uses: actions/checkout@v4

      - name: Publish CSAF advisories
        uses: csaf-tools/csaf-action@v0
        with:
          publisher_name: Secvisogram
          publisher_namespace: https://bendo-eXX.github.io/csaf-files-settings-test/
          publisher_issuing_authority: Placeholder
          publisher_contact_details: Placeholder
          source_csaf_documents: advisories/
          generate_index_files: true
